@media (max-width:826px){
    .cabecalho{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .cabecalho nav{
        display: flex;
        justify-content: center;
    }

    .cabecalho ul{
        display: flex;
        align-items: center;
        list-style: none;
        flex-direction: column;
    }

}