
@media (max-width:826px){
    .conteudo{
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        justify-content: space-around;
    }
    
    .conteudo div{
        display: flex;
        flex-direction: column;
    }
    
    .conteudo h2{
        display: flex;
        justify-content: center;
        color: #F3F3F3;
        font-family: 'Inter', sans-serif;
    }
    
    .conteudo figure{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conteudo p{
        color: #F3F3F3;
        font-size: 10%;
        padding-bottom: 8%;
    }
    .conteudo a, img{
        max-width: 50%;
        display: flex;
        justify-content: center;
    }
}