@import url('breakpoint-cabecalho.css');
@import url('breakpoint-home.css');
@import url('cabecalho.css');
@import url('home.css');
@import url('rodape.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('games.css');
@import url('tecnologia.css');
@import url('mobile.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    min-height: 400px;
    margin-bottom: 100px;
    background: #05090E;
}


