
.conteudo{
    display: flex;
    padding-top: 5%;
    justify-content: space-around;
}

.conteudo div{
    display: flex;
    flex-direction: column;
}

.conteudo h2{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

.conteudo figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo p{
    color: #aaaaaa;
}
.conteudo a, img{
    width: 60%;
    display: flex;
    justify-content: center;
}
