.conteudotech{
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    align-items: center;
}
.conteudotech div h2{
    color: #014776;
    display: flex;
    justify-content:center;
    padding: 1%;
}
.conteudotech figure{
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    display: flex;
}
.conteudotech figcaption{
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    display: flex;
    padding: 2%;  
}
.conteudotech figure img{
    width: 50%;
    height: 50%;
    padding: 2%;
    min-width: 10%;
}